<div class="container-fluid" data-ng-controller="homeController">
    <div class="col-xs-12 col-sm-4">
        <select class="form-control" ng-model="recipient">
            <option value="" selected disabled>--Choose recipient--</option>
            <option ng-repeat="it in users" ng-value="it.user_id">{{it.name}}</option>
        </select>
        <button class="btn btn-default margin-top-10 margin-bottom-10" ng-click="sayHi()" ng-disabled="!recipient">
            Say Hi
        </button>
    </div>
    <div class="col-xs-12 col-sm-8">
        <div class="col-xs-12 text-danger text-center margin-top-30 " ng-show="messages.length===0">
            You have not got any Hi message yet
        </div>
        <table class="table" ng-show="messages.length > 0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Received greetings from</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key,value) in messages">
                    <td>{{key+1}}</td>
                    <td>{{value.sender}}</td>
                    <td>{{value.sentOn | amTimeAgo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>